#%RAML 1.0
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/27f61fd3-28f0-479d-acc8-775757cc7d03/ # 
title: policyService
version: 1.0

types:
  datatype: !include /exchange_modules/afd79888-16c6-487f-8caa-338e9d8c3207/datatype/1.0.0/datatype.raml

traits:
  client-id-required:
    headers:
      client_id:
        type: string
      client_secret:
        type: string
    responses:
      401:
        description: Unauthorized, The client_id or client_secret are not valid or the client does not have access.
      404:
        description: No access.
      429:
        description: The client used all of it's request quota for the current period.
      500:
        description: An error ocurred, see the specific message.
      503:
        description: Contracts Information Unreachable.

  queryParameter-required:
    queryParameters:
      customerId:
        type: string
      clubCode:
        type: string
      authorization_key:
        type: string
        

/policy:
  get:
    is: [client-id-required,queryParameter-required]
    queryParameters:
      customerId:
        type: string
        minLength: 15
        maxLength: 15
        pattern: "^[A-Za-z0-9\\s]*$"
      clubCode:
        type: string
        minLength: 6
        maxLength: 6
      authorization_key:
        type: string
    responses:
      200:
        body:
            application/json:
              example: 
                {"message": "policy success"}

/homepolicy:
  /{homePolicyNumber}:
    uriParameters:
        homePolicyNumber:
          type: string
          minLength: 9
          maxLength: 9
          pattern: "^[A-Za-z0-9\\s]*$"
    get:
      is: [client-id-required]
      responses:
        200:
          body:
            application/json:
              example: 
                {"message": "home policy success"}

/autopolicy:
  /{autoPolicyNumber}:
    uriParameters:
        autoPolicyNumber:
          type: string
          minLength: 9
          maxLength: 9
          pattern: "^[A-Za-z0-9\\s]*$"
    get:
      is: [client-id-required,queryParameter-required]
      responses:
        200:
          body:
            application/json:
              example: 
                {"message": "Auto policy success"}
